Bootstrap: docker
From: ubuntu:disco

%environment
    OMPI_DIR=/opt/ompi-OMPIVERSION
    export OMPI_DIR
    export SINGULARITY_OMPI_DIR=$OMPI_DIR
    export SINGULARITYENV_APPEND_PATH=$OMPI_DIR/bin
    export SINGULARITYENV_APPEND_LD_LIBRARY_PATH=$OMPI_DIR/lib

%post
    echo "Installing required packages..."
    apt-get update && apt-get install -y wget git bash gcc gfortran g++ make file

    # Information about the version of MPICH to use
    export OMPI_VERSION=OMPIVERSION
    export OMPI_URL="OMPIURL"
    export OMPI_DIR=/opt/ompi

    echo "Installing Open MPI..."
    mkdir -p /tmp/ompi
    mkdir -p /opt
    # Download
    cd /tmp/ompi && wget $OMPI_URL && tar TARARGS OMPITARBALL
    # Compile and install
    cd /tmp/ompi/openmpi-$OMPI_VERSION && ./configure --prefix=$OMPI_DIR && make -j8 install
    # Set env variables so we can compile our application
    export PATH=$OMPI_DIR/bin:$PATH
    export LD_LIBRARY_PATH=$OMPI_DIR/lib:$LD_LIBRARY_PATH
    export MANPATH=$OMPI_DIR/share/man:$MANPATH

    echo "Compiling the MPI application..."
    cd /opt && wget http://netpipe.cs.ksu.edu/download/NetPIPE-5.1.4.tar.gz && tar -xzf NetPIPE-5.1.4.tar.gz && cd NetPIPE-5.1.4 && make mpi
